html,
body {
  font-display: auto;
  font-family: 'Roboto Mono', monospace;
}
.custom-heading {
    font-family: 'Roboto Mono', monospace !important;
    margin-bottom: 0.3em !important;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  color: #757575 !important;
}
